body{
    background-color: black;
    margin: 0;
    color: white;
    padding: 0;
    scroll-margin-top: smooth;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.upperheader p{
    color:black;

}
.upperheader a{
    text-decoration:overline;
    color:white;
    font-size: 18px;
   }
   .upperheader a:hover{
    color:rgb(79, 140, 231);
    transition: 1s ease;
    font-weight: bolder;
   }
   .fa-messages{
    font-size: 15px;
    color: white;
   }
.upperheader{
    display: flex;
    top:0;
    height:50px;
    background-color: rgb(253, 146, 74);
    z-index: 2;
    position: absolute;
    margin:0;
    padding:0;
    text-align: center;
    width:100%;
}
.upperheader p{
   float: left;
   width: 80%;
}
.account{
    width: 20%;
    background-color: black;
    padding: 10px;
    border-radius: 2px;
    font-size: 25px;
    font-family: 'Creepster', cursive;
    
}
.account a:hover{
    letter-spacing: 2px;
    color: rgb(255, 153, 0);
    }
.header{
    color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    
}
.header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:relative;
    top:30px;
    left:150px;
    font-size:45px;
    float: left;
}
.navbar a{
    position: absolute;
    z-index: 1;
    float: left;
    top: 75px;
    text-decoration: none;
    display: inline;
    position:relative;
    left:300px;
    padding-left: 15px;
    color: rgb(245, 253, 251);
}
.navbar a:hover{
    text-decoration: overline;
}

.banner{
  width: 100%;
    background-color:;
    height:500px;
    text-align: center;
    }
.banner h1{
    padding: 20px;
    font-size:90px;
    color: rgb(248, 245, 245);   
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.banner-buttons{
float:right; 
}

.banner-buttons a{

right:400px;
border-radius: 1px;
font-size: 20px;
width: 150px;
text-decoration: none;
display: inline-block;
margin:0 10px;
padding:20px;
color:rgb(249, 249, 252);
border: 1px solid rgb(244, 246, 247);
position:relative;
background-color:transparent;
z-index: 1;
transition: color 0.5s;
text-align:center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner-buttons a span{
width: 0%;
height: 100%;
position: absolute;
top:0;
left:0;
background:white;
z-index: -1;
transition: 0.9s;
border-radius: 5px;
}

.banner-buttons a:hover span{
width: 100%;
border-radius: 1px;

}
.banner-buttons a:hover{
color: rgb(0, 12, 12);
font-weight: bolder;
padding: 20px;
}
.bvd{
position: absolute;
z-index: -5;
height:110%;
width: 100%;
object-fit: cover;
top:0;
opacity: 0.4;
z-index: -10;
}
.overlay{
position: absolute;
top:0;
width:100%;
height: 110%;
background-color: rgb(2, 103, 253);
mix-blend-mode: overlay;

}
.personal-info{
  padding-top: 50px;
  padding-bottom: 20px;
height:auto;
width: 100%;
display: flex;
background-color:black;

}
.myimage{
  float: left;
  height: auto;
  width:50%;
  border-radius: 5px;
  background-color: transparent;
  margin:1px;
  align-items: center; 
}

.myimage img{
padding-left: 80px;
float: left;
height: 700px;
width:80%;
border-radius: 5px;
background-color: black;
margin:1px;
}
.info{
  padding: 20px;
  background-image: url(https://ik.imagekit.io/midnightcoders/New_Folder/gifimage.gif?updatedAt=1680533618908);
margin-left: 75px;
margin-top: 150px;
margin-right: 75px;
float: left;
color: antiquewhite;
font-size: 20px;
width: 50%;

}
.pinfo{
width: 32%;
}
.container{
    height: auto;
    width:80%;
    background-color:black;
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}   
.section{
    padding:20px;
    border:2px solid rgb(59, 59, 59);
    color: aliceblue;
    font-weight: bolder;
    border-radius:5px;
    position: relative;
    height:300px;
    background-color: rgb(0, 0, 0);
    width:30%;
    margin: 10px;
    border-left:5px solid rgb(64, 64, 65);
    }
    .section:hover{
        border-left:5px solid rgb(83, 80, 80);  
    }
.devstate{
    color: wheat;
    text-align: center;
}
.section a{
    text-decoration:none;
    color:rgb(240, 149, 116);
    font-size: px;
}
.section a:hover{
   text-decoration: underline;
}
.btnss{
    height: 600px;
    background-color: rgb(0, 0, 0);
}
    
.footer{
    height: auto;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    width: 100%;
}
.emailcont{
    color:beige;
    float: left;
    padding-top: 40px;
    margin-left: 75px;
}
.emailcont a{
   
    font-size: 20px;
 
   
    color:rgb(240, 149, 116);
    
}
.title{
    width: 30%;
    padding-bottom: 50px;
    margin-left: 100px;
}
.title h1{ 
   align-content: center;
   text-align: center;
   float: left;
   font-size: 30px;
   padding-top: 90px;
}
.socialpage{
float: left;
width:40% ;
background-color: rgb(3, 3, 3);
}
.socialpage i{
    color: rgb(240, 149, 116);
    font-size: 45px;
    padding-top: 60px;
    margin: 30px;
}
.title h1:hover{
    text-decoration: line-through;
}
.footer-bottom{
    height: 100px;
    margin-top: 10px;
}
.footer-bottom p{
    display: inline;
    text-align: center;
    margin-left: 450px;
    color: rgb(78, 78, 77);
}
p a{
    color:rgb(240, 149, 116);
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 252, 252);
  background-color: rgb(0, 1, 10);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #fcfcfc;
  font-size: 20PX;
  font-weight: bolder;
  padding: 10px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text a{
    text-decoration: none;
    color: rgb(245, 243, 243);
}
.text a:hover{
    transition: 2s ease;
    color: rgb(31, 120, 253);
    text-decoration: overline;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
table {
  background-color: rgb(7, 7, 7);
  border-collapse: collapse;
  width: 100%;
}
thead{
  font-weight: bold;
  font-size: 18px;
}
td, th {
  border: 5px solid #cec9c9;
  text-align: left;
  padding: 8px;
  
}

tr:nth-child(even) {
  background-color: rgb(240, 149, 116);
}
 /* The popup chat - hidden by default */
 .chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 1px solid #9fa0a1;
  z-index: 9;
  border-radius: 5px;
  color: #ddd;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(39, 38, 38);
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 5px;
  background: #bbb2b2;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #617df7;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:  rgb(253, 146, 74);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
@media all and (max-width:650px){
  .banner{
    width: 100%;
    top:600px;
    padding: 2px;
    font-size:25px;
    color: rgb(216, 71, 71);   
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.banner h1{
  position: relative;
  top:120px;
  padding: 2px;
  font-size:25px;
  color: rgb(241, 238, 238);   
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.header h1{
  position:relative;
  top:150px;
  left:120px;
  font-size:45px;
  float: left;
  }
.upperheader{
  display: flex;
  top:0;
  height:80px;
  background-color: rgb(253, 146, 74);
  z-index: 2;
  position: absolute;
  margin:0;
  padding:0;
  text-align: center;
  width:100%;
}
.navbar{
  float: left;
  position:absolute;
  display:inline;
  margin-bottom: 10px;
}
.navbar a{
  z-index: 1;
  left: 20px;
  top: 80px;
  text-decoration: none;
  display: inline;
  padding: 10px;
  color: rgb(245, 253, 251);
}
.banner-buttons{
  float:left; 

  }
  
  .banner-buttons a{
  top: 150px;
  right:10px;
  display: inline-block;
  margin:5px 10px;
  }
  .personal-info{
    height:1200px;
    width: 100%;
    display:inline-block;
    background-color:rgb(0, 0, 0);
    
    }
    .myimage{
      width: 100%;
    }
    
    .myimage img{
    padding:0;
    padding-top: 10px;
    height:600px;
    width:100%;
    
    }
    .info a{
    margin-top: 3px;  
    }
    
    .info{
    margin:10px;
    float: left;
    font-size: 20px;
    width: 100%;

    margin-left:0x;
    margin-top: 3px;
    margin-right:0;

    }
    .container{
      display: inline;
      margin-left:0;
      margin-right: 0;
    }
    .section{
      width: 80%;
    }
       
.footer{
  height: 500px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display:inline-block;
}
.emailcont{
  width:100%;
  color:beige;
  float: left;
  padding:0;
  padding-top: 40px;
  margin-left:0;
}
.emailcont a{
  width: 100%;
  font-size: 20px;
  color:rgb(240, 149, 116);
}
.title{
  float: right;
 padding-bottom: 50px;
 margin-left:0;
 padding-left:0;
 width: 100%;

}
.title h1{ 
  padding-left: 140px;
 align-content: center;
 text-align: center;
font-size: 30px;
 padding-top: 20px;
}
.socialpage{
float: left;
width:40% ;
background-color: rgb(3, 3, 3);
}
.socialpage i{
  color: rgb(240, 149, 116);
  font-size: 45px;
  padding-top: 10px;
  width:5%;
  display: inline-block;
}
.footer-bottom{
  height: auto;
  margin-top: 10px;
}
.footer-bottom p{
  display: inline;
  text-align: center;
  margin-left:0;
  color: rgb(78, 78, 77);
}

.bvd{
  position: absolute;
  z-index: -5;
  height:98%;
  width: 100%;
  object-fit: cover;
  top:0;
  opacity: 0.4;
  z-index: -10;
  }
  .overlay{
  position: absolute;
  top:0;
  width:100%;
  height: 98%;
  background-color: rgb(107, 162, 245);
  mix-blend-mode: overlay;
  
  }
}
