.terms{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    display: flex;
    height:auto;
    background-color: rgb(0, 0, 0);
}
.centered{
    line-height: 28px;
    width:45%;
    background-color: rgb(0, 0, 0);
    margin-left: 28%;
    margin-top: 170px;
    
 }
 .gl{
   padding-top: 50px; 
   padding-bottom: 50px;
   border-top: .5px solid rgb(78, 78, 78);
 }
 .centered h4{
    font-size: 12px;
    font-weight: lighter;
    color: rgb(241, 166, 116);
    text-decoration: none;
 }
 .centered p{
    font-size: 15px;
 }
 .centered h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .centered a{
    color: rgb(241, 166, 116);
 }
 .centered a:hover{
    color: white;
 }
  @media all and (max-width:1200px){
   .terms{
      width: 90%;
      margin: 25px;     
  }
   .centered{
      line-height: 28px;
      width:100%;
      background-color: rgb(0, 0, 0);
      margin-left:0;
      margin-top: 170px;
      
   }
  }